/* colors */
$cssBlue: rgba(42, 169, 224, 0.8);
$cssBlueLight: rgba(42, 169, 224, 0.4);
$htmlOrange: rgba(242, 130, 40, 0.8);
$htmlOrangeLight: rgba(242, 130, 40, 0.4);
$jsYellow: rgba(247, 223, 30, 0.8); 
$jsYellowLight: rgba(247, 223, 30, 0.4); 
$wtf: #2D2241;
