@import "~normalize.css";
@import "_variables";
@import "modules/hello.scss";
@import "modules/navigation.scss";

body {
  background: $wtf;
  color: #fff;
  min-height: 100vh;
}

.header {
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  background: green;
}

.hamburger {
position: absolute;
top: 16px;
right: 16px;
}

.main {
  max-width: 1000px;
  margin: 60px auto 0;
}
