@import "~normalize.css";
@import "_variables";
@import "modules/hello.scss";
@import "modules/navigation.scss";

body {
  background: $wtf;
  color: #fff;
  min-height: 100vh;
}

.grid {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.header {
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  background: green;
}

.hamburger {
  position: absolute;
  top: 16px;
  right: 16px;
  @media (min-width: 768px) {
    display: none;
  }
}

.main {
  margin: 70px auto 0;
  @media (min-width: 768px) {
    max-width: 1000px;
    margin: 90px auto 0;
  }
}
