@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');
@import "_variables";
@import "modules/hello.scss";
@import "modules/navigation.scss";
@import "modules/tasks.scss";

body {
  background: #E2DDD3;
  color: #000;
  font-family: 'Lato', sans-serif;
}

.banner {
  background-image: url('../assets/img/notebook_1280.jpg');
  background-position: center center;
  height: 100vh;
  @media (min-width: 768px) {
  background-image: url('../assets/img/notebook_1920.jpg');
  }
}

.grid {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4px;
    row-gap: 4px;
  }
}

.header {
  background: #7D7B7A;
  min-height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  &__heading {
    margin:0;
    padding: 40px 8px 8px;
    text-align: center;
    @media (min-width: 768px) {
    padding-top: 16px;
  }
}
}

.hamburger {
  position: absolute;
  top: 16px;
  right: 16px;
  @media (min-width: 768px) {
    display: none;
  }
}

.introduction {
  min-height: 50vh;
  &__article {
    min-height: 20vh;
    margin: 12px 32px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 20px;
  }
  &__heading {
    font-size: 32px;
  }
}

.knowledge {
  margin: 8px 0;
  min-height: 20vh;
  display: flex;
  border-radius: 8px;
  &__heading {
    margin: auto;
    padding: 16px;
    min-width: 80px;
    align-self: center;
    font-size: 28px;
    border: 1px solid black;
    border-radius: 6px;
    @media (min-width: 768px) {
    font-size: 40px;
    }
  }
  &__list {
    max-width: 600px;
    margin: 0 auto;
    padding: 6px;
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  &__list-item {
    margin: 6px;
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 6px;
    min-width: 100px;
    background: white;
    &--html {
      background: $htmlOrange;
    }
    &--css {
      background: $cssBlue;
    }
    &--js {
      background: $jsYellow;
    }
  }
  &--css {
    background: $cssBlueLight;
    transition: 1s;
    transform: translateX(-20vw);
    opacity: 0.5;
  }
  &--html {
    background: $htmlOrangeLight;
    transition: 1s;
    transform: translateX(20vw);
    opacity: 0.5;
  }
  &--js {
    background: $jsYellowLight;
    transition: 1s;
    transform: translateX(20vw);
    opacity: 0.5;
  }
  &--other {
    background: gray;
    transition: 1s;
    transform: translateX(-20vw);
    opacity: 0.5;
  }
}

.main {
  background: #fff;
  text-align: center;
  @media (min-width: 768px) {
    max-width: 1920px;
    min-height: 100vh;
  }
}

.summary {
  background-color: antiquewhite;
  overflow: hidden;
}

.active {
  transform: translateX(0);
  opacity: 1;
}


